// Variables
$blue: #4287f5;

/* Typography */
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.h1-link {
    color: inherit;
}

.h1-link:hover {
    border-bottom: 2px solid $blue;
    color: inherit;
    text-decoration: none;
}

/* Card */
.card {
    color: inherit;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.card:hover {
    background-color: $blue;
    color: white;
    text-decoration: none;
}

/* UI Elements */
.top-bar {
    background-color: $blue;
    height: 0.5rem;
}

.divider {
    background-color: lightgrey;
    height: 1px;
}

/* Media Queries */
@media (max-width: 1199px) {
    .display-4 {
        font-size: 2.75rem;
    }
}

@media (max-width: 991px) {
    .display-4 {
        font-size: 2rem;
    }
    .media-main {
        margin: 1rem 0;
    }
}

@media (max-width: 767px) {
    .display-4 {
        font-size: 1.5rem;
    }
}